<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.css @ categories='practice.task'}"/>
<div>
    <sly data-sly-use.model="com.task.core.models.LinkersSearchModel">

        <input id="hiddenCountRows" value="${model.countPaginationRows}" class="hidden" />
        <input id="hiddenPathToResource" value="${model.pathToResource}" class="hidden" />
        <input id="hiddenFoundMessage" value="${model.foundMessage}" class="hidden" />
        <input id="hiddenNotFoundMessage" value="${model.notFoundMessage}" class="hidden" />

        <div style="background-color: ${model.backgroundHexColor @ context='styleToken'};" class="searchBox">
            <h1 class="componentTitle">LINKS SEARCH</h1>
            <span class="searchLinkLabel">SEARCH LINK</span>
            <div>
                <!-- <span id="hiddenCountRow">${model.countPaginationRows}</span> -->
                <input id="inputForm" type="text" class="linkField" value="https://www.onliner.by"/>
                <button class="send-button" onclick="sendRequest()" type="button">SUBMIT</button>
            </div>
            <div class="messageValidation" id="messageValidation"></div>
            <div id="searchResult" style="overflow-x: auto;">
                <table class="paginated" id="paginatedTable">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </sly>
    <sly data-sly-call="${clientlib.js @ categories='practice.task'}"/>
</div>
