<sly data-sly-use.model="com.task.core.models.LinkersSearchModel">
    <div style="background-color: ${model.backgroundHexColor @ context='styleToken'};">
        <h1 class="componentName">LINKS SEARCH</h1>
        <span>SEARCH LINK</span>
        <div>
            <input id="lname" name="lname" type="text"/>
            <button class="send-button" onclick="alert()" type="button">SUBMIT</button>
        </div>
    </div>
</sly>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories=['practice.task']}"/>
