@font-face {
	font-family: myLightFont;
	src: url("/etc/designs/task/design/fonts/TaskFont-Light.woff") format("woff");
}

@font-face {
	font-family: myBoldFont;
	src: url("/etc/designs/task/design/fonts/TaskFont-Bold.woff") format("woff");
}

div {
	font-family: myLightFont;
}

button,
button:active,
button:focus  {
	border:none;
}

div.pager {
	text-align: center;
	margin: 1em 0;
}

div.pager span {
	display: inline-block;
	width: 1.8em;
	height: 1.8em;
	line-height: 1.8;
	text-align: center;
	cursor: pointer;
	background: #000000;
	color: #ffffff;
	margin-right: 0.5em;
}

div.pager span.active {
	background: #A8A8A8;
}

:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table {
	border-collapse: collapse;
	border-color: #000 !important;
	width: 100%;
	border-width: 1px;
}

th, td {
	text-align: left;
	padding: 8px;
	border-width: 1px;
	border-color: #000 !important;
}

.linkField {
	height: 35px;
	width: 80%;
	border-color: #000 !important;
	border-width: 1px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
}

.lintColumnName {
	font-family: myBoldFont;
}

.pathColumnName {
	font-family: myBoldFont;
}

.searchBox {
	padding: 5px 5px 5px 5px;
}

.searchLinkLabel {
	margin-bottom: 10px;
	font-family: myBoldFont;
	margin-left: 5px;
}

.send-button {
	font-size: 20px;
	color: #ffffff;
	border-radius: 25px;
	background-color: #000000;
	height: 35px;
	width: 15%;
	margin-left: 20px;
}

.send-button:hover {
	font-size: 20px;
	color: #6D7177;
	border-radius: 25px;
	background-color: #A8A8A8;
	height: 35px;
	width: 15%;
	margin-left: 20px;
}

.messageValidation {
	margin-top: 10px;
	color: #000000;
	font-size: 17px;
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: myBoldFont;
}

.search-panel {
	margin: 2px 2px 2px 2px;
}

.componentTitle {
	color: #000000;
	font-family: myBoldFont;
	margin-left: 5px;
}

.hidden {
	visibility: hidden;
}
